{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["babel-plugin-inline-import", {
      "extensions": [
        ".css"
      ]
    }]
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}